/* canvas styling */
    .sqr {
        border: 0.5px solid #d4996a;
        width: 10px;
        height: 10px;
        margin: 0px;
        background-color: white;
    }

    #cont {
        width: 710px;
        height: 710px;
        display: flex;
        border: 1px solid #d4996a;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
    }

/* toolbox styling */
    #tools-cont {
        display: flex;
    }

    #tools {
        display: flex;
        border: 0.5px solid #d4996a;
        flex-basis: 710px;
        flex-shrink: 1;  /* allows tools bar to shrink */
        margin: auto; 
        background-color: white;
        margin-bottom: 10px;
    }

    #tools > div {
        border: 0.5px solid #d4996a;
        flex: 1;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

/* other styling */
    h1 {
        text-align: center;
        color: #d4996a;
        font-size: 40px;
        margin: 0px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    p {
        margin-bottom: 5px;
        margin-top: 5px;
        color: #d4996a;
    }

    i {
        font-size: 30px;
        color: #d4996a;
    }

    select {
        color: #d4996a;
        border: 1px solid #d4996a;
    }

    #program-body {
        background-color: #fff0e4;
        height: auto;
        width: 70%;
        min-width: 750px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 50px;
    }

    body, html {
        margin: 0px;
        padding: 0px;
        height: auto;
        width: auto;
    }

    html {
        background-image: url('background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }